@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400;700&family=Lato:wght@100;300;700&family=Lexend+Deca:wght@300;400&family=Outfit:wght@300;400;600;700&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Primary */
    --red:hsl(0, 78%, 62%);
    --cyan:hsl(180, 62%, 55%);
    --orange:hsl(34, 97%, 64%);
    --blue:hsl(212, 86%, 64%);

    /* Neutral */
    --very-dark-blue:hsl(234, 12%, 34%);
    --grayish-blue:hsl(229, 6%, 66%);
    --very-light-gray:hsl(0, 0%, 98%);

}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background: var(--very-light-gray);
    
}

.introduction,
.container-cards{
    width: 340px;
    margin: 0 auto;
    padding: 0 33px;
}

.introduction{
    margin-top: 80px;
    margin-bottom: 40px;
}

.introduction__title{
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--very-dark-blue);
    margin-bottom: 15px;
    text-align: center;
}


.introduction__title span {
    font-weight: 700;
    
}

.introduction__paragraph{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 400;
    color: var(--grayish-blue);
}
.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container-cards__card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background: #fff;
    margin: 20px 0 0 0;
    border-top: 5px solid black;
    padding: 0 23px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.container-cards__title-card{
    margin-top: 20px;
    font-size: 1rem;
    color: var(--very-dark-blue);
    margin-bottom: 5px;
}

.container-cards__paragraph-card{
    color: var(--grayish-blue);
}

.container-cards__img-card{
    width: 45px;
    height: 45px;
    margin-top: 35px;
    align-self: flex-end;  
}

.container-cards__card--cyan{
    border-color: var(--cyan);
}

.container-cards__card--red{
    border-color: var(--red);
}

.container-cards__card--orange{
    border-color: var(--orange);
}

.container-cards__card--blue{
    border-color: var(--blue);
}


@media screen and (min-width: 1200px){
    body{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        
    }

    .introduction,
    .container-cards{
        width: 60%;
        min-width: 1150px;
       
    }

    .introduction__title{
        font-size: 2.4rem;
        width: 50%;
        margin: 0 auto;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .introduction__paragraph{
        width: 50%;
        margin: 0 auto;
        font-size: 1rem;
    }

     .container-cards{
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 110px);
        margin: 0;
        gap: 30px;
        grid-template-areas: ".     red    .   "
                             "cyan  red    blue"
                             "cyan  orange blue"
                             ".     orange .   ";
    }
    
    
    .container-cards__card{
        width: 350px;
        height: 100%;
        
    }

    .container-cards__title-card{
        font-size: 1.2rem;
    }

    .container-cards__paragraph-card{
        font-size: 0.9rem;
    }

    .container-cards__img-card{
        width: 65px;
        height: 65px;
    }

     .container-cards__card--red{
        grid-area: red;
    }

    .container-cards__card--cyan{
        grid-area: cyan;
    }

    .container-cards__card--orange{
        grid-area: orange;
    }

    .container-cards__card--blue{
        grid-area: blue;
    }

    

}
